* {
    margin: 0;
    padding: 0;
    width: auto;
    box-sizing: border-box;
}

/* General Styles */
/* body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    width: auto;
    box-sizing: border-box;
} */

/* General Styles */
body {
    margin: 0;
    padding: 0;
   
}

/* Header Styles */
header {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    height: 60px;
    /* padding: 20px; */
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.logo a img {
    
    margin-left: 25px;
    width: 25%;
}

nav ul {
    margin-top: 12px;
    list-style-type: none;
    display: flex;
}
nav ul li .search-box{
    /* margin-bottom: 30px; */
    margin-top:12px;
}
nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    height: 60px;
    padding: 20px;
    text-decoration: none;
    text-align: end;
    
    font-family: "Poetsen One", sans-serif;
    img{
        width:25px;
        height: 25px;
        color: #ffffff;

    }

}
/* nav ul li .thang {
    margin-top: 14px;
            margin-left: 5px;
    border-left: 3px solid rgb(252, 251, 251);
    height:40px;} */

nav ul li a:hover {
    background-color: #555;
    color: #000000;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.search-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;

    box-sizing: border-box;
    transition: all 0.5s;
  }

  .search-box input[type="text"] {
    font-family: "Poetsen One", sans-serif;

    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 40px;
    padding: 0;
    border: none;
    outline: none;
    margin-bottom: 40px;
    background-color: #f1f1f1;
    font-size: 16px;
    border-radius: 20px;
    box-sizing: border-box;
    transition: all 0.5s;
  }

  .search-box:hover,
  .search-box.active {
    width: 440px;
  }

  .search-box:hover input[type="text"],
  .search-box.active input[type="text"] {
    width: 400px;
    padding: 0 20px;
  }

  .search-box i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 24px;
    color: #666;
    cursor: pointer;
  }
/* .search {
    text-align: left;
    margin-right: 40px;
    display: flex;
    }

.search input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
    height: 30px;
    font-family: "Poetsen One", sans-serif;
}

.btn-button button {
    border: 1px solid #000000;

    background-color: #000000;
    color: #fff;
    border-radius: 4px;
    margin-left: 4px;
    width: 50px;
    height: 30px;


    font-family: "Poetsen One", sans-serif;

}

.btn-button button:hover {
    background-color: #b6cbc5;
} */

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        display: none;

    }

    .menu-toggle {
        display: block;
        padding: 20px;
    }

    nav.active ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #393939;
        z-index: 1;

    }

    nav.active ul li {
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    nav.active ul li .search {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        text-align: center;
    }
}
/* 

.slider-frame{
    overflow: hidden;
    height: 800px;
    width: 100%;
    margin-left: 0px;
    
}
@-webkit-keyframes slide_animation{
    0% {left: 0px;}
    10%{left: 0px;}
    20%{left: 1200px;}
    30%{left: 1200px;    }
    40%{left: 2400px;}
    50%{left: 2400px;}
    60%{left: 1200px;}
    70%{left: 1200px;}
    80%{left: 0px;}
    90%{left: 0px;}
    100%{left: 0px;}

}
.slide-image{
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.img-container{
    height: 800px;
    width: 100%;
    position: relative;
    float: left;
} */



.slider {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slider-container {
    width: 100%;
    display: flex;
    animation: slide 18s infinite;
}



.slider-img-1 {
    animation-delay: 5s;
    width: 100%;
}

.slider-img-2 {
    animation-delay: 5s;

    width: 100%;

}

.slider-img-3 {
    animation-delay: 5s;

    width: 100%;

}



@keyframes slide {
    0% {
        transform: translateX(0);
    }

    33.33% {
        transform: translateX(-100%);
        animation-delay: 5s;
    }

    33.66% {
        transform: translateX(-100%);
    }

    66.66% {
        transform: translateX(-200%);
    }

    66.99% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}

.category-list {
    /* display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
  */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.category-new {
    text-align: center;

    h2 {
        margin-bottom: 10px;
        font-size: 33px;
        font-family: "Poetsen One", sans-serif;

    }
}

.category {
    text-align: center;
    flex-basis: 20%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;


    h5 {
        margin-bottom: 10px;
        color: rgb(255, 0, 0);
        font-size: 16px;
        font-family: "Poetsen One", sans-serif;
    }


}

.product-link {
    text-decoration: none;
    color: black;
    h3{
        font-size: 20px;
    }
}

.product-link:hover {
    color: #050101;
}

.product img {
    /* width: 100%;
    height: auto;
    margin-bottom: 10px; */
    width: 100%;
    height: auto;
    object-fit: contain;
}

.category img {
    /* width: 100%;
    height: 200px;
    margin-bottom: 10px; */
    width: 100%;
    height: 200px;
    object-fit: contain;
}

@media (max-width: 768px) {

    .category-list {
        /* display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-between;
      */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}


@media (max-width: 440px) {

    .category-list {
        /* display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-between;
      */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}


.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;

}

.product-new {
    text-align: center;

    h2 {
        font-size: 33px;
        font-family: "Poetsen One", sans-serif;

    }
}

.product {
    flex-basis: 30%;
    /* width: 30%; */
    text-align: center;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    /* width: 400px; */


    h5 {
        margin-bottom: 10px;
        color: rgb(255, 0, 0);
        font-size: 16px;
        font-family: "Poetsen One", sans-serif;

    }

}

@media (max-width: 768px) {

    .product-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        list-style: none;
        padding: 0;
        margin: 0;

    }
}


footer {

    background-color: #000000;
    color: #fff;

    padding: 10px;
}

.container {
    padding: 10px;



}




.product-link {

    text-decoration: none;
    color: #000000;
}

.product-link h3:hover {
    color: #7f867f;
}



.post-new {
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    margin: 20px;

    h2 {
        font-size: 33px;

        margin-bottom: 10px;
        text-align: center;
        font-family: "Poetsen One", sans-serif;

    }
}

.post-row {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.post-main {
    padding: 20px;
}

.post-sidebar {
    /* background-color: #000000; */
    padding: 20px;
}


.post {

    width: auto;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;

    img {
        width: 100%;
    }

    h3 {
        font-family: "Poetsen One", sans-serif;

    }

    p {
        font-family: "Teachers", sans-serif;

    }
}

.post-small {
    width: auto;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;

    img {
        width: 20%;
    }

    h3 {
        font-family: "Poetsen One", sans-serif;

    }
}

.post h3 {
    margin-top: 0;




}

@media(max-width: 768px) {
    .post-row {
        /* display: flex;
        flex-wrap: wrap;
        justify-content: space-between; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.product-category-list {
    /* display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
  */

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media(max-width:768px) {
    .product-category-list {
        /* display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-between;
      */

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.product-list-all {
    display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        list-style: none;
        padding: 0;
        width: 100%;
        margin: 0;
}
@media(max-width:768px){
    .product-list-all {
        display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
            list-style: none;
            padding: 0;
            margin: 0;
    }
    
}
.product-category-main {

    margin-bottom: 50px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;

    h1 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: "Poetsen One", sans-serif;

        text-align: center;
    }

    h2 {

        font-family: "Poetsen One", sans-serif;

    }

    h3 {

        font-family: "Poetsen One", sans-serif;

    }
}

.product-main {
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    padding: 10px;

    h3 {
        font-family: "Poetsen One", sans-serif;

    }

    h2 {
        font-size: 33px;

        font-family: "Poetsen One", sans-serif;

        text-align: center;
    }
}


.row-product-all{
    h3 {
        font-family: "Poetsen One", sans-serif;

    }

    h2 {
        font-size: 33px;

        font-family: "Poetsen One", sans-serif;

        text-align: center;
    }
    margin-top: 20px;
    display: flex;
    padding: 10px;


}



footer {
    background-color: #2b2828;
    padding: 20px 0;
}

.footer-container {


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 1200px;
    margin: 0 auto;

}

@media(max-width:768px) {
    .footer-container {
        padding: 20px;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        list-style: none;
        margin: 0;
        max-width: 1200px;
        margin: 0 auto;

    }

}

.footer-column p{
    img{
        width: 40px;
        height: 40px;
    }
   
}

.img-1{
    width: 50px;
    height: 50px;
    img{
        width: 55px;
        height: 55px;
    }
}
.img-2{
    margin-left: 10px;
    margin-top: 12px;
    width: 50px;
    height: 50px;
    img{
        width: 33px;
        height: 33x;

    }
}
.img-3{
    margin-top: 12px;
    width: 50px;
    height: 50px;
    img{

        width: 33px;
        height: 33x;

    }
}
.icon-1-2
{
    display: flex;

  
    
}

.footer-column h4 {
    font-family: "Poetsen One", sans-serif;

    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column p {
    margin-bottom: 5px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    font-family: "Poetsen One", sans-serif;

}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: #a48888;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
    color: #777;
}

.filter-cat{
    margin-bottom: 20px;
}

.productfillter {
    padding: 20px;
}

.filter-sort {
   
    /* align-items: center;
    justify-content: space-between; */
    margin-bottom: 20px;

}

.filter-sort label {
    margin-right: 10px;
    
    
}

.filter-sort select {
    padding: 5px;
}



.row-detail {

    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

.row-img {
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-basis: 50%;
    padding: 20px;
    margin-right: 20px;

    img {
        width: 70%;
    }


}

.row-info {

    flex-basis: 50%;
    padding: 20px;

    h1 {
        margin-bottom: 20px;

        font-family: "Poetsen One", sans-serif;

    }

    p {
        font-size: 20px;
        font-weight: 600;
    }

    h3 {
        margin-top: 10px;
        width: 400px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h5 {
        margin-top: 10px;
    }
}

.row-mua {

    padding: 20px;
    margin-top: 130px;
}

.mb-muangay {

    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #f2f2f2;
    margin-right: 10px;
    border-radius: 4px;

}

.row-add {

    margin-top: 10px;
    width: 100%;
    display: flex;

}

.qty {
    margin-bottom: 20px;
    margin-left: 6px;
    font-size: 20px;
}

.plus-min {

    margin-left: 5px;
    margin-bottom: 0px;
}

.input-detail input{
   
    float: left;
    margin-right: 9px;
    width: 125px;
    margin-left: 5px;

}

.inputt{
    width: 100px;
}

.plus {
    float: left;
    border-radius: 4px;

    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    font-size: 20px;
    height: 37px;
    background-color: #45a049;
}

.min {
    border-radius: 4px;
    font-size: 30px;


    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    background-color: #45a049;
}

.checkout {
    margin-left: 10px;
    background-color: #ff0000;
    color: #ffffff;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-right: 10px;


}

.addcart button {
    color: white;
    width: 130px;
    height: 50px;
    background-color: #13ff1f;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
}

.btn-color-1 button {
    margin-top: 10px;
    margin-left: 100px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: #000000;
    background-color: #ff0000;
    float: left;


}



.btn-color-1 button:hover {
    
    border: 2px solid black;

}
.btn-color-2 button {
    margin-top: 10px;

    margin-left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: #000000;
    background-color: #16dd658f;
    float: left;



}

.btn-color-3 button {
    margin-top: 10px;

    float: left;
    margin-left: 5px;

    width: 20px;

    height: 20px;
    border-radius: 50px;
    border: #000000;
    background-color: #fff711;


}

/* .btn-container {
    display: flex;
    justify-content: center;
  }
  
  .btn-container button {
    margin: 0 5px;
  } */

/* 
  .btn-color button:hover{
    background-color: #ee0063;
  } */


.btn-category button {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(141, 133, 133);
    background-color: #f2f2f2;
    border-radius: 50px;
    float: left;
    margin-right: 7px;

}
.btn-red button {
    border: none;
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    border-radius: 50px;
    float: left;
    margin-right: 7px;

}
.btn-blue button {
    width: 20px;
    height: 20px;
    background-color: #06d5ff;
    border-radius: 50px;
    float: left;
    margin-right: 7px;
    border: none;

}
.btn-yelow button {
    width: 20px;
    height: 20px;
    background-color: #eeff01;
    border-radius: 50px;
    float: left;
    margin-right: 7px;
    border: none;

}
.btn-white button {
    width: 20px;
    height: 20px;
    background-color: #bcb7b7;
    border-radius: 50px;
    float: left;
    margin-right: 7px;
    border: none;

}
.btn-green button {
    width: 20px;
    height: 20px;
    background-color: #0cff20;
    border-radius: 50px;
    float: left;
    margin-right: 7px;
    border: none;

}

.btn-category button:active {
    background-color: rgb(231, 7, 7);
    color: #050101;
    text-decoration: none;
}




.btn-category button:hover {
    background-color: rgb(251, 2, 2);
    text-decoration: none;
}



.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
}

.image-container i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(212, 31, 31);
    border: 1px solid rgb(156, 169, 169);
    background-color: #ffffff;
    width: 27px;
    height: 27px;
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);

}

.image-container i:hover {
    color: #273029;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-container button {
    margin: 0 5px;
}


.contact {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;

    padding: 20px;
}
@media(max-width:768px){
    .contact {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        list-style: none;
        padding: 0;
        margin: 0;
    
        padding: 20px;
    }
}
.contact h2 {
    text-align: center;
}

.contact-info {


    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 40px;

    h2 {
        font-family: "Poetsen One", sans-serif;
    }

    p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}

.contact-form {
    

    margin-left: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

    h2 {
        font-family: "Poetsen One", sans-serif;

    }
}

.form-group {
    margin-bottom: 20px;
    /* width: 500px; */
    margin-left: 35px;
}

label {
    font-weight: bold;
    font-family: "Poetsen One", sans-serif;

}

input,
textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 400px;
        /* width: 70%; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}




.btn-contact button {
    width: 90px;
    height: 31px;
    border-radius: 5px;
    background-color: rgb(7, 6, 1);
    color: #f2f2f2;
    margin-left: 35px;
    border: #000000;

    font-family: "Poetsen One", sans-serif;

}

.btn-contact button:hover {

    background-color: #45a049;
}

.btn-button button {
    width: 50px;
    height: 30px;
    border-radius: 5px;
}

.btn-button button:hover {

    background-color: #45a049;
}

.google-map {
    margin-top: 20px;
    text-align: center;

}

.ggmap {
    margin-top: 20px;
    width: 80%;
    height: 300px;
}

.row-2{
        display: grid;
        grid-template-columns: 2fr 8fr;
        grid-gap: 20px;
            list-style: none;
            padding: 0;
            margin: 0;
    
    
}
.category_product-col1{

    padding: 10px;
    margin-left: 10px;
    margin-top: 20px;
    h1{
        font-family: "Poetsen One", sans-serif;

        font-size: 33px;
        font-weight:2000px;
        text-align: center;
    }
h2
{
    font-family: "Poetsen One", sans-serif;
        font-weight: 1200;
    font-style: normal;
}
h3{
    font-size: 17px;
    font-family: "Poetsen One", sans-serif;

}

}


.sub-category-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sub-category-list li {
    padding: 10px;
    margin-bottom: 10px;
}


.product-detail {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .product-image {
    flex:  50%;
    text-align: center;
  }
  
  .product-image img {
    max-width: 100%;
    width: 50%;
    height: auto;
  }
  
  .product-info {
    
    flex:  50%;
    width: 100%;
    height: 300px;

    /* padding-left: 20px; */
  }
  

  @media(max-width: 768px){
    .product-detail {
        
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #f5f5f5;
      }
      
      .product-image {
        flex:  100%;
        text-align: center;
      }
      
      .product-image img {
        max-width: 100%;
        width: 50%;
        height: auto;
      }
      
      .product-info {
        
        width: 100%;
        height: 300px;
    
        /* padding-left: 20px; */
      }
      
  }
  .product-info p{
    /* font-family: "Poetsen One", sans-serif; */

  }
 
  .product-title {
    font-family: "Poetsen One", sans-serif;

    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-description {
    margin-bottom: 20px;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .product-price {
    font-family: "Reddit Mono", monospace;
    color: #fe0000;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  
  .product-color {
    font-family: "Reddit Mono", monospace;

    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-actions button {
    

   
    margin-bottom: 0px;
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  button.btn-add-to-cart{
    background-color: #ff0000;
}

button.btn-buy-now{
    background-color: #0cff20;
}
button.btn-add-to-cart:hover{
    border: 3px solid rgb(9, 1, 1);

    background-color: #ff0000;
}

button.btn-buy-now:hover{
    border: 3px solid rgb(9, 1, 1);

    
    background-color: #0cff20;
}

.color-list {
    font-family: "Poetsen One", sans-serif;

    width: 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    gap: 0px;
    padding: 0;
    margin: 0;
}
.color-list div{
    width: 30px;
    height: 30px;
}
.btnn-red button {
    border: none;
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    border-radius: 50px;
   

}
.btnn-red button:hover {

    border: 3px solid rgb(9, 1, 1);
}
.btnn-blue button:hover {

    border: 3px solid rgb(9, 1, 1);
}
.btnn-yelow button:hover {

    border: 3px solid rgb(9, 1, 1);
}
.btnn-green button:hover {

    border: 3px solid rgb(9, 1, 1);
}
.btnn-white      button:hover {

    border: 3px solid rgb(9, 1, 1);
}
.btnn-blue button {
    width: 20px;
    height: 20px;
    background-color: #06d5ff;
    border-radius: 50px;
    border: none;


}
.btnn-yelow button {
    width: 20px;
    height: 20px;
    background-color: #eeff01;
    border-radius: 50px;
    border: none;


}
.btnn-white button {
    width: 20px;
    height: 20px;
    background-color: #bcb7b7;
    border-radius: 50px;
    border: none;


}
.btnn-green button {
    width: 20px;
    height: 20px;
    background-color: #0cff20;
    border-radius: 50px;
    border: none;

}
.product-quantity {
  display: flex;
  align-items: center;
  margin-top: 1rem;
    margin-bottom: 20px;

}

.quantity-btn {
  background-color: #0adcf8;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.quantity-btn:hover {
  background-color: #1088de;
  border: 1px solid rgb(9, 1, 1);

}

.quantity-input {
  width: 50px;
  text-align: center;
  margin: 0 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.range-slider {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  
  .range-input {
    width: 100%;
    height: 2px;
    background-color: #ddd;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 2px;
  }
  
  .range-input::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background-color: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .range-input::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background-color: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .range-value {
    margin-left: 1rem;
    font-weight: bold;
  }

h5.price-gacc{
    text-align: right;

    color: #7e7a7a;
    text-decoration: line-through;
    /* margin-left: 25px; */
}
.price-sale{    
   width: 100%;
   /* background-color: #000000; */
    display: grid;
    /* text-align: center; */
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2px;
        list-style: none;
        padding: 0;
}

h5.price-phamtram{
    margin-left: 3px;
    width: 32%;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #fae6dd;
}